body{
font-family: Arial;
background:#010102;
text-align:center;
}

.container{
/* color:23143c; */
display:grid;
grid-template-columns: 250px 1fr;
grid-template-rows: 80px auto;
gap:20px;
padding:20px;
}

.banner{
grid-column:1 / span 2;
background:#23143c;
padding:10px;
border:2px solid black;
color: white; 
}

.scores{
display:flex;
flex-direction:column;
gap:20px;
}

.score-box{
background:#67b3b5;
border:2px solid black;
padding:10px;
}

.game-area{
background:#67b3b5;
border:2px solid black;
padding:20px;
}

.player-input{
margin-bottom:20px;
}

.board{
margin:auto;
border-collapse:collapse;
}

.cell{
width:40px;
height:40px;
border:1px solid black;
background:#ccc;
}